body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.bg-image {
  background: #101825 url('assets/gabriele-garanzelli-529492-unsplash.webp');
  background-attachment: fixed;
}

.name {
  opacity: 0;
  transform: translateY(7%);
  transition: opacity 2s, transform ease-out 2s;
}

.name.active {
  opacity: 1;
  transform: translateY(0);
}

.down {
  opacity: 0;
  transition: opacity 1s 1s;
}

.down.active {
  opacity: 1;
}

.appear {
  opacity: 0;
  transition: opacity 2s;
}

.appear.active {
  opacity: 1;
}

.github {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s 0.5s, transform ease-out 0.5s 0.5s;
}

.github.active {
  opacity: 1;
  transform: translateY(0);
}

.instagram {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s 1s, transform ease-out 0.5s 1s;
}

.instagram.active {
  opacity: 1;
  transform: translateY(0);
}

.twitter {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 0.5s 1.5s, transform ease-out 0.5s 1.5s;
}

.twitter.active {
  opacity: 1;
  transform: translateY(0);
}

/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
       url('./fonts/pacifico-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pacifico-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}