body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.bg-image {
  background: #101825 url('assets/gabriele-garanzelli-529492-unsplash.webp');
}

.name {
  transform: translateY(7%);
  transition: opacity 2s, transform 2s;
}

.name-active {
  opacity: 1;
  transform: translateY(0);
}

.social {
  transition: opacity 1s ease 1s;
}

.social-active {
  opacity: 1;
}

/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
       url('./fonts/pacifico-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/pacifico-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}